In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Albany,US,2021-04-09 22:49:34,42.6001,-73.9662,69.80,34,75,13.80
1,1,Ushuaia,AR,2021-04-09 22:53:30,-54.8000,-68.3000,46.40,61,75,10.36
2,2,Nueva Loja,EC,2021-04-09 22:53:31,0.0847,-76.8828,77.00,88,90,8.05
3,3,Tifton,US,2021-04-09 22:51:10,31.4505,-83.5085,68.00,94,40,12.10
4,4,Priyutnoye,RU,2021-04-09 22:53:31,46.1011,43.5072,41.92,84,100,11.79

In [3]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [12]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights= temps, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
# Heatmap of percent wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
2,2,Nueva Loja,EC,2021-04-09 22:53:31,0.0847,-76.8828,77.00,88,90,8.05
5,5,Hambantota,LK,2021-04-09 22:53:31,6.1241,81.1185,77.92,81,2,4.29
6,6,Puerto Colombia,CO,2021-04-09 22:53:32,10.9878,-74.9547,82.40,74,75,6.91
10,10,Georgetown,MY,2021-04-09 22:53:32,5.4112,100.3354,80.60,89,20,3.89
13,13,Vila Velha,BR,2021-04-09 22:53:33,-20.3297,-40.2925,77.00,78,75,14.97
14,14,Jitra,MY,2021-04-09 22:53:34,6.2681,100.4217,75.20,94,20,2.30
17,17,Bambanglipuro,ID,2021-04-09 22:53:34,-7.9500,110.2833,76.62,85,96,3.80
25,25,Meulaboh,ID,2021-04-09 22:53:37,4.1363,96.1285,77.74,87,100,2.89
31,31,Rikitea,PF,2021-04-09 22:53:38,-23.1203,-134.9692,77.92,73,52,8.41
33,33,Hilo,US,2021-04-09 22:53:39,19.7297,-155.0900,78.80,53,20,13.80

In [18]:
preferred_cities_df.count()

City_ID       182
City          182
Country       181
Date          182
Lat           182
Lng           182
Max Temp      182
Humidity      182
Cloudiness    182
Wind Speed    182
dtype: int64

In [19]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max Temp      Lat       Lng Hotel Name
2        Nueva Loja      EC     77.00   0.0847  -76.8828
5        Hambantota      LK     77.92   6.1241   81.1185
6   Puerto Colombia      CO     82.40  10.9878  -74.9547
10       Georgetown      MY     80.60   5.4112  100.3354
13       Vila Velha      BR     77.00 -20.3297  -40.2925
14            Jitra      MY     75.20   6.2681  100.4217
17    Bambanglipuro      ID     76.62  -7.9500  110.2833
25         Meulaboh      ID     77.74   4.1363   96.1285
31          Rikitea      PF     77.92 -23.1203 -134.9692
33             Hilo      US     78.80  19.7297 -155.0900

In [ ]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}